.App {
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
}

.Counter {
  background-color: rgb(74, 75, 74);
  border: 1px solid aqua;
  border-radius: 6px;
}

.Settings {
  margin: 10px;
  border: 1px solid aqua;
  border-radius: 6px;
  background-color: rgb(74, 75, 74);
}